@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

header, section {
    margin: 2rem;
}

h1, h2, h3, h4 {
    font-family: "EditorialNew-Regular", Times, serif;
}

p, a, li {
    font-family: "EditorialNew-Ultralight", Times, serif;
}

.highlight-archived, .highlight-hiatus, .highlight-important, .highlight-construction, .highlight-ongoing {
    padding: 1rem;
}

.highlight-archived {
    background-color: yellow;
}

.highlight-hiatus {
    background-color: lightgray;
}

.highlight-important {
    background-color: #3549FC;
    color: white;
}

.highlight-construction {
    background-color: orange;
}

.highlight-ongoing {
    background-color: aquamarine;
}

@media (width > 33.5rem) {
    html {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header, section {
        width: 33.5rem;
    }
}