@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --dblue: #3549FC;
    --dorange: #FB2C07;
}

body {
    background-color: var(--dblue);
    margin: 0;
}

header {
    margin-top: 4.75rem; 
    display: flex;
}

h1 {
    font-family: serif;
    font-style: italic;
    font-weight: 100;
    font-size: 3rem;
    color: white;
    transform:scale(1,4);
    margin: 0;
}

p {
    font-family: Verdana, sans-serif;
}


/* private parts reporting for doody */

.nav-butt {
    background-color: rgb(255, 251, 0);
    color: var(--dblue);
    padding: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.border-only {
    box-shadow: 0 0 0 0.25rem white inset;
    background-color: unset;
    padding: 1rem;
    color: white;
}

.nav-butt:hover, .nav-butt:active, .border-only:hover, .border-only:active {
    background-color: black;
    color: white;
    box-shadow: unset;
}

.header-links {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 0.5rem;
}

/* stolen from https://stackoverflow.com/a/31951412 */

.marquee1, .marquee2 {
    background-color: red;
    color: white;
    position: fixed;
    top: 0;
}
.marquee1 p {
    display: inline-block;
    margin: 0;
}

/* end robbery */

h2, h3, h4, h5, p, li {
    color: white;
}

h2, h3, h4, h5 {
    font-family: 'Arial Narrow', Arial, sans-serif, sans-serif;
}

.general-sec {
    margin: 6rem 1rem;
}

.general-sec h2, .general-sec p, .general-sec .butt-space {
    margin: 2.5rem auto;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    margin-bottom: 0;
}

.full-img {
    width: 64rem;
    max-width: 100%;
    height: auto;
    margin: 0;
}

/* fun distorted text */

#escape {
    position: relative;
}

.escape-layer {
    position: absolute;
    top:0;
    left:0;
}

.escape-txt {
    margin: unset;
}

h2.escape-txt {
    font-size: 5.5rem;
    line-height: 0.6;
    letter-spacing: -0.5rem;
}

a.escape-txt {
    color: #FB2C07;
    background-color: #3549FC;
}

.dis1 {
    margin: 0;
    font-size: 3rem;
    overflow: wrap;
}

p.escape-txt {
    margin-left: 20rem;
    overflow: hidden;
}

.spacer-4 {
    margin: 8rem;
}

#red-pic {
    mix-blend-mode: hard-light;
}

#red-pic:hover {
    mix-blend-mode:overlay;
}

#el2 {
    display: flex;
    width: 100%;
    margin-top: 20rem;
    justify-content: left;
}

.flasher1 {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flasher1 a {
    font-size: 3rem;
    font-family: 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -0.5rem;
    transform: scaleY(4);
    line-height:0.5;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    text-decoration: line-through;
    background-color: #FB2C07;
}

.flasher1 a:hover {
    background-color: black;
}

a:hover {
    background-color: black;
    color: white;
}


/* lets get responsive */

@media (width >= 24rem) {
    h2.escape-txt {
        font-size: 8rem;
        line-height: 0.6;
        letter-spacing: -0.5rem;
    }
}

@media (width >= 36rem) {
    h2.escape-txt {
        font-size: 12rem;
        line-height: 0.6;
        letter-spacing: -0.5rem;
    }
}

@media (width >= 48rem) {
    .two-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #el2 {
        justify-content: end;
    }

    .flasher1 a {
        font-size: 5rem;
    }

    h2.escape-txt {
        font-size: 16rem;
        line-height: 0.6;
        letter-spacing: -0.5rem;
        margin-left: 4rem;
    }
}