body {
    margin: 0;
}

h1, h2 {
    font-family: "RadioGrotesk-Bold";
    margin: 0;
}

a, p {
    font-family: "RadioGrotesk-Regular";
    color: #232323;
}



.header-links {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    justify-content: space-between;
}

.logotype {
    text-decoration: none;
    line-height: 1.75rem;
    color: #232323;
    width: 100%;
}

header {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}



.button {
    background-color: #232323;
    color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
}

.general-sec {
    margin: 6rem 2rem;
}

.dark-sec {
    background-color: #232323;
    padding: 6rem 2rem;
}

.dark-sec h2, .dark-sec p {
    color: white;
}

.big {
    font-size: 8rem;
}

.it-begins-1 {
    transform: skewY(20deg) translate(3rem, -2rem);
}

.it-begins-2 {
    transform: skewY(-10deg);
}

.it-begins-3 {
    transform: skewY(-10deg);
}

.it-begins-4 {
    transform: scaleY(5);
}

.stretch-1 {
    /* transform: scaleX(2) translateX(4rem); */
}

#human-text {
    line-height: 0.5;
    font-size: 8rem;
    margin: 0;
}