@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

p {
    font-size: 18rem;
    font-family: 'Libre Franklin', sans-serif;
    line-height: 0.5;
    margin: 0;
}
